<!DOCTYPE html>
<html lang = "en-US">
  <%- model_class = Track -%>
  <div class="page-header">
    <meta charset = "UTF-8">
     <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
     <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
     <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
     <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
     <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
     <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
     <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
     <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
     <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
     <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
     <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
     <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
     <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
     <link rel="manifest" href="/manifest.json">
     <meta name="msapplication-TileColor" content="#ffffff">
     <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
     <meta name="theme-color" content="#ffffff">
    <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= model_class.human_attribute_name(:id) %></th>
        <th><%= model_class.human_attribute_name(:name) %></th>
        <th><%= model_class.human_attribute_name(:distance) %></th>
        <th><%= model_class.human_attribute_name(:difficulty) %></th>
        <th><%= model_class.human_attribute_name(:description) %></th>
        <th><%= model_class.human_attribute_name(:image) %></th>
        <th><%= model_class.human_attribute_name(:link) %></th>
        <th><%= model_class.human_attribute_name(:completed) %></th>
        <th><%= model_class.human_attribute_name(:gpx_file_name) %></th>
        <th><%= model_class.human_attribute_name(:gpx_content_type) %></th>
        <th><%= model_class.human_attribute_name(:gpx_file_size) %></th>
        <th><%= model_class.human_attribute_name(:gpx_updated_at) %></th>
        <th><%= model_class.human_attribute_name(:created_at) %></th>
        <th><%=t '.actions', :default => t("helpers.actions") %></th>
      </tr>
    </thead>
    <tbody>
      <% @tracks.each do |track| %>
        <tr>
          <td><%= link_to track.id, track_path(track) %></td>
          <td><%= track.name %></td>
          <td><%= track.distance %></td>
          <td><%= track.difficulty %></td>
          <td><%= track.description %></td>
          <td><%= image_tag(track.image, :class => 'list_image') %></td>
          <td><%= track.link %></td>
          <td><%= track.completed %></td>
          <td>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_track_path(track), :class => 'btn btn-default btn-xs' %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        track_path(track),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-xs btn-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to t('.new', :default => t("helpers.links.new")),
              new_track_path,
              :class => 'btn btn-primary' %>
